.post-container {
    width: 75%;
    border: 1px solid gray;
    border-radius: 5px;
    margin: auto auto 15px;
    padding: 15px;
    background: #fdf7f2;
}

.review-age {
    font-style: italic;
    font-size: .75rem;
}

.home-header {
    background-image: url("header.jpg");
    width: 825px;
    height: 465px;
    background-size: cover;
    color: #faefe5;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-container div a {
    display: inline-block;
    margin: 10px;
}
