<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="" th:replace="~{fragments/header :: nav-styles}">
    <link rel="stylesheet" href="" th:replace="~{fragments/header :: google1}">
    <link rel="stylesheet" href="" th:replace="~{fragments/header :: google2}">
    <link rel="stylesheet" href="" th:replace="~{fragments/header :: fonts}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="home-header">
    <h1>Welcome to BrewMe!</h1>
    <h3>The Ultimate Database in Craft Brewing</h3>
</div>

<div>
    <p>These routes are for security testing purposes and are temporary</p>
    <div sec:authorize="hasRole('BREWER')">
        <a th:href="@{/brewer}">Brewer Only Path</a>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/admin}">Admin Only Path</a>

    </div>
</div>

<center><h3>Check out our most recent reviews!</h3></center>

<table th:if="${reviews}">
    <tr th:each="review : ${reviews}">
        <div class="post-container">
            <h3 th:text="${review.getBeer().getName()} + ' - Brewed by: ' + ${review.getBeer().getBrewery()}"></h3>
            <hr>
            <h6 th:text="'Posted by ' + ${review.getAuthor()} + ' on ' + ${review.getPostTime()}"></h6>
            <h6 th:text="'Rated ' + ${review.getRating()} + '/5'"></h6>
            <p th:text="${review.getBody()}"></p>
            <p class="review-age" th:text="'(Review is ' + ${@utilityService.calculateAge(review)} + ' days old)'"></p>
            <div th:if="${#authentication.getName() == review.getAuthor()}">
                <form th:action="@{'/review/delete/' + ${review.getId()}}" method="post">
                    <button type="submit">Delete</button>
                </form>

            </div>
        </div>
    </tr>
</table>

<div class="pagination-container">
    <div th:if="${hasPrev}"><a th:href="@{'?page=' + ${current - 1}}" th:text="Previous"></a></div>
    <div><h4 th:text="${current}"></h4></div>
    <div th:if="${hasNext}"><a th:href="@{'?page=' + ${current + 1}}" th:text="Next"></a></div>
</div>



</body>
</html>