<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Review - How was it?</title>
    <link rel="stylesheet" href="" th:replace="~{fragments/header :: nav-styles}">
    <link rel="stylesheet" href="" th:replace="~{fragments/header :: google1}">
    <link rel="stylesheet" href="" th:replace="~{fragments/header :: google2}">
    <link rel="stylesheet" href="" th:replace="~{fragments/header :: fonts}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<form action="" th:action="@{'/review/form?id=' + ${id}}" method="post" th:object="${review}">

  <label th:for="body">What's did you think of this beer?</label>
  <input type="text" id="body" th:field="*{body}">

  <label th:for="rating">How would you rate it?</label>
  <input type="number" th:step=".1" id="rating" th:max="5" th:field="*{rating}">


  <button th:value="Submit" type="submit">Submit!</button>
</form>


</body>
</html>